/* Generales */
.tx-wh {
	color: white;
}
.tx-title1{
	color: #6ab4ff;
}
.tx-title2{
	color: #728ea9;
}
.tx-parrafo{
	color: #3c3c3c;
}
.bgPrueba {
	background-color: #74a3db;
}
.bgFooter {
	background-color: #2a3541;
}
/*section-por-que*/
.por-que img {
	max-width: 100%;
}
.banner {
	background-image: url(../image/banner.jpg);
}
.title-por-que {
	font-size: 40px;
}
.logo {
	margin-top: 2%;
}
.por-que li{
	line-height: 35px;
}
/*Prueba*/
.text-center {
	text-align: center;
}
.prueba {
	padding: 2% 0;
}
.btn-prueba {
	background: transparent;
	margin-top: 4%;
	border: 2px solid white;
}
.prueba a {
	font-size: 22px;
}
<<<<<<< HEAD
<<<<<<< HEAD
.bgPrueba {
	background-color: #74a3db;
}
.bgFooter {
	background-color: #2a3541;
}
<<<<<<< HEAD
* {
	font-family: sans-serif;
}
/* Header */
.tdn {
	text-decoration: none;
}
nav li {
	display: inline;
}
li a {
	margin-right: 2%;
}
header {
	background: url(../image/large.jpg);
	background-position: center;
	background-repeat: none;
	background-size: cover;
	text-align: center;
}
header img {
	width: 40%;
}
.principal{
	margin-top: 10%;
	margin-bottom: 10%;
}
.rgba {
	background-color: rgba(71,71,72,0.5) !important;
		padding-top: 3%
}
.rgba2 {
	background-color: rgba(78,127,184,0.8) !important;
}
.bt1 {
	background: transparent;
	color: white;
	border: 1px solid white;
	margin-top: 8%;
	margin-bottom: 8%;
}
/*Servicios*/
.servicios {
	margin-top: 5%;
	margin-bottom: 5%;
	border-bottom: 0.5px solid #ccc;
	text-align: center;
}

.small {
	font-size: 0.9em;
}
.center {
	text-align: center;
}
.circle {
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50px;
	margin: 0 auto;
	box-shadow: 2px 2px 2px 1px rgba(131,131,131,0.5);
	padding: 35px;
}
.icons {
	font-size: 30px;
	margin: 0 auto;
}
.pcircle {
	margin-top: 10%;
	margin-bottom: 10%;
}
.box-circle{
	margin-top: 5%;
	margin-bottom: 5%;
}
.servicios img {
	margin-bottom: -50px;
=======
/*section-por-que*/
.por-que img {
	max-width: 100%;
}
.banner {
	background-image: url(../image/banner.jpg);
}
.title-por-que {
	font-size: 40px;
}
.logo {
	margin-top: 2%;
}
.por-que li{
	line-height: 35px;
>>>>>>> origin/section-por-qué
}
=======
>>>>>>> origin/section-prueba
=======
/*Footer*/
footer {
	padding: 2% 0;
}
footer p{
	font-size: 10px;
}
footer span {
	font-size: 27px;
}
.icon-facebook {
	margin-left: 27%;
	margin-right: 2%;
}
.fin{
	margin-top: 1%;
}
>>>>>>> origin/section-footer
