/* Generales */
.tx-wh {
	color: white;
}
.tx-title1{
	color: #6ab4ff;
}
.tx-title2{
	color: #728ea9;
}
.tx-parrafo{
	color: #3c3c3c;
}
.bgPrueba {
	background-color: #74a3db;
}
.bgFooter {
	background-color: #2a3541;
}