/* Generales */
.tx-wh {
	color: white;
}
.tx-title1{
	color: #6ab4ff;
}
.tx-title2{
	color: #728ea9;
}
.tx-parrafo{
	color: #3c3c3c;
}
.bgPrueba {
	background-color: #74a3db;
}
.bgFooter {
	background-color: #2a3541;
}
* {
	font-family: sans-serif;
}
/* Header */
.tdn {
	text-decoration: none;
}
nav li {
	display: inline;
}
header {
	background: url(../image/large.jpg);
	background-position: center;
	background-repeat: none;
	background-size: cover;
	margin: 0 auto;
	text-align: center;
}